// File for less-vars.
// For example: main colors, paddings and so on.

@import 'jeet/stylus/jeet'
@import 'bootstrap-grid/dist/grid.css'
@import 'rupture/rupture'

// edit()

// color
$color-main = #6a747e
$color-link = #637890
$color-second = #eb5705
$color-title = #637890
$color-white = #fff

$bg-main = #fff
$bg-second = #f0f3f7
$bg-nav = #183b64

// Font
$font-regul = RobotoRegular, sans-serif
$font-bold = RobotoBold, sans-serif

rupture.scale = 0 768px 992px 1200px
rupture.scale-names = 'xs' 'sm' 'md'

// Burger buttons
$color-button = #fff
$button-radius = 20px
$button-line-height = 1px
$burger-width = 0.82 * $button-radius
$burger-gutter = 5px
