include ../shares/shares
include ../title/title

mixin stock-only(data)
	+b.stock-only&attributes(attributes)
		+title ХИТ продаж! клоун оцеллярис за 950 руб.
		+shares
			+e.item(style="background-image:url(__static__img/assets/index-slider/slider-image-1.jpg)")
				+e.promo хит продаж!
				+e.title Клоун оцеллярис
				+e.price 950 
					span.index-slider__price-val руб.


		+e.H3.subtitle Расширенный заголовок. Спешите! Только с 13.05 по 13.06 цена на Клоуна оцелляриса всего 950 руб.!

		+e.P.text Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных выступлений в домашних условиях. При создании генератора мы использовали небезызвестный универсальный код речей. Текст генерируется абзацами случайным образом от двух до десяти предложений в абзаце, что позволяет сделать текст более привлекательным и живым для визуально-слухового восприятия.

		+e.P.text По своей сути рыбатекст является альтернативой традиционному lorem ipsum, который вызывает у некторых клиентов недоумение при попытках прочитать рыбу текст. В отличии от lorem ipsum, текст рыба на русском языке наполнит любой макет непонятным смыслом и придаст неповторимый колорит советских времен. 

		+e.A.btn-back(href="#") К списку акций

		+e.social
			img(src="__static__img/content/soc.png")
