mixin preview(data)
	+b.preview&attributes(attributes)

		+e.full
			//- .swiper-wrapper
			a(href="__static__img/assets/preview/product-1.jpg" rel="gallery-product")
				+e.IMG.image-big(src="__static__img/assets/preview/product-1.jpg")
			a(href="__static__img/assets/preview/product-2.jpg" rel="gallery-product")
				+e.IMG.image-big(src="__static__img/assets/preview/product-2.jpg")
			a(href="__static__img/assets/preview/product-1.jpg" rel="gallery-product")
				+e.IMG.image-big(src="__static__img/assets/preview/product-1.jpg")
			a(href="__static__img/assets/preview/product-2.jpg" rel="gallery-product")
				+e.IMG.image-big(src="__static__img/assets/preview/product-2.jpg")
			a(href="__static__img/assets/preview/product-1.jpg" rel="gallery-product")
				+e.IMG.image-big(src="__static__img/assets/preview/product-1.jpg")


			//- +e.pagination.swiper-pagination
		+e.min
			//- .swiper-wrapper
			//- +e.min-item
			//- 	+e.IMG.image-min(src="__static__img/assets/preview/product-min-1.jpg")
			//- +e.min-item
			//- 	+e.IMG.image-min(src="__static__img/assets/preview/product-min-1.jpg")
			//- +e.min-item
			//- 	+e.IMG.image-min(src="__static__img/assets/preview/product-min-1.jpg")
			//- +e.min-item
			//- 	+e.IMG.image-min(src="__static__img/assets/preview/product-min-1.jpg")
			//- +e.min-item
			//- 	+e.IMG.image-min(src="__static__img/assets/preview/product-min-2.jpg")
