.preview
    text-align center
    vertical-align middle

    img
        display inline-block
        border 1px solid #e2e5e9
        // max-width 100%

        +below(sm)
            width 100%

    &__full
        &.slick-slider
            margin-bottom 4px

        +below('sm')
            padding-bottom 40px
            margin-bottom 0

    &__min
        img
            max-width 100%
            display block
        +below(sm)
            display none

    .slick-dots
        position static
        text-align left

        +below(sm)
            position absolute
            text-align center

        li
            margin 0 0 7px
            vertical-align middle
            text-align center
            padding 3px

        .slick-active
            img
                transition all .3s
                border 2px solid #fff
                box-shadow  0 0 0 1px $bg-nav

    &__image-big
        // min-height 388px
        max-width 100%
        // width 561px
        // height 100%

        +below(sm)
            min-height auto

        // +above(md)
        //     height 100%


    &__image-min
        max-width 126px
        display inline-block
        // width 130px
        max-height 92px
        border-radius 0
        margin-right 7px

    .slick-dots
        bottom 10px
