.index-info
    padding 63px 0 52px

    +below('xs')
        padding 40px 0 90px

    .title
        margin-bottom 28px

    p
        color $color-main
        line-height 22px
        margin-bottom 23px

        +below('xs')
            &:not(:first-of-type)
                display none
