.about
    color $color-main
    line-height 1.4
    m-cf()

    .title
        margin-bottom 30px

    &__subtitle
        margin-bottom 32px

    &__text
        margin-bottom 32px

    &__img
        display inline-block
        margin-bottom 32px

        +below(sm)
            width 100%
            height auto

        &_right
            float right
            margin-left 27px

            +below(sm)
                float none
                margin-left 0
