mixin nav-main(data)
	+b.UL.nav-main&attributes(attributes)
		+e.item
			+e.A.link(href="about.html")
				| О нас
		+e.item
			+e.A.link(href="#")
				| Оплата и доставка
		+e.item
			+e.A.link(href="stock.html")
				| Акции и скидки
		+e.item
			+e.A.link(href="#")
				| Оптовикам  
		+e.item
			+e.A.link(href="#")
				| Услуги
		+e.item
			+e.A.link(href="contact.html")
				| Контакты
