.header
    margin-bottom 30px

    +below('sm')
        padding-top 37px
        margin-bottom 24px

    &__nav
        padding-top 29px
        border-bottom 1px solid #c9d2dc

        +below('sm')
            border none

    &__title
        font-size 22px
        font-family $font-bold
        text-transform uppercase
        color $color-title
        margin-bottom 15px
        
        +below('xs')
            display none

    &__subtitle
        font-size 14px
        text-transform uppercase
        color $color-second
        margin-bottom 31px
        
        +below('xs')
            display none

    &__phones
        color #9fa5ab
        font-size 20px

        +below('md')
            font-size 16px

    &__phone
        text-transform uppercase


        span
            color #80868c

        &_one
            margin-bottom 16px

        &_two
            margin-bottom 8px

    &__phone-disc
        font-size 12px
        margin-bottom 18px

    &__phone-coll
        color $color-second
        text-decoration none
        padding-bottom 8px
        display block
        font-size 14px

        &:hover
            color darken($color-second, 15)

    // &__catalog
    //     padding 30px 0

    //     +below('sm')
    //         padding 23px 0 40px 0


