include ../product-basket/product-basket

mixin basket(data)
	+b.basket&attributes(attributes)
		+e.SPAN.text Ваша корзина:
		+e.SPAN.oder 2
		+product-basket(productBasket.defaults)
		//- +e.container
