.stock

    +below('sm')
        text-align center

    .title
        margin-bottom 26px

    &__item
        display inline-block
        width 260px
        margin-right 10px
        margin-left 10px
        margin-bottom 30px

        +below('xs')
            width 90%


    .product-cart__btns
        padding 11px 0 13px
        text-align center
